.iam-roles-picker {
	color: black;

	ul {
		padding-bottom: 0;
		border-bottom: 0;
	}

	li {
		line-height: 2em;
	}

	input {
		margin: 0.5em 0.5em 1em 1em;
	}

	button {
		width: 100%;
		margin: 0;
	}
}
